.testimonial-section {
    padding: 135px 0 160px;
    position: relative;
    .testimonial-bg {
        position: absolute;
        top: -20px;
        right: 0;
    }
    .testimonial-shape1 {
        position: absolute;
        top: 230px;
        left: 130px;
    }
    .testimonial-shape2 {
        position: absolute;
        bottom: 60px;
        right: 140px;
    }
    .testimonial-slider {
        position: relative;
        z-index: 1;
        margin: 0 auto;
        margin-top: 55px;
        max-width: 725px;
        background-color: #fff;
        box-shadow: -1.046px 11.954px 22px 0px rgba(0, 0, 0, 0.08);
            ol {
                &.carousel-indicators {
                    position: absolute;
                    right: 0;
                    top: 60px;
                    display: flex;
                    flex-direction: column;
                    left: 92%;
                    justify-content: inherit;
                    margin-right: 0;
                    margin-left: 0;
                    li {
                        width: 90px;
                        height: 90px;
                        display: block;
                        text-indent: 0;
                        opacity: 1;
                        margin-bottom: 15px;
                        border: 3px solid rgba(255, 255, 255, 0);
                        background-color: transparent;
    
                        &.active {
                            padding: 5px;
                            border: 3px solid #5409d6;
                            border-radius: 100%;
                        }
                        img {
                            border-radius: 100%;
                            width: 90px;
                            height: 90px;
                        }
                    }
                }
                

            }
        .carousel-content {
            position: relative;
            .carousel-quote {
                i {
                    position: absolute;
                    font-size: 60px;
                    color: rgba(203, 203, 226, 0.75);
                    top: -30px;
                    left: 30px;
                }
            }
            .carousel-inner {
                .carousel-item {
                    .testimonial-items {
                        padding: 80px 90px 70px;
                        .testimonial-rating {
                            ul {
                                li {
                                    display: inline-block;
                                    i {
                                        color: #ffba00;
                                    }
                                }
                            }
                        }
                        .testimonial-text {
                            p {
                                font-size: 22px;
                                line-height: 1.636;
                            }
                        }
                        .testimonial-meta {
                            h3 {
                                font-size: 32px;
                                font-weight: 700;
                                padding-bottom: 3px;
                            }
                            p {
                                font-size: 18px;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
        .testimonial-dot-indicator {
            ol{
                &.carousel-indicators2 {
                    position: absolute;
                    left: -60px;
                    bottom: 220px;
                    li {
                        width: 15px;
                        height: 15px;
                        background-color: #fff;
                        border-radius: 100%;
                        display: block;
                        cursor: pointer;
                        margin-bottom: 12px;
                        transition: all .3s ease-in-out;
                        position: relative;
                        &::after {
                            position: absolute;
                            content: " ";
                            width: 60%;
                            height: 60%;
                            top: 3px;
                            left: 3px;
                            border-radius: 100%;
                            opacity: 0;
                            transition: all .3s ease-in-out;
                            background: linear-gradient(81deg, #ff6600 0%, #ff9903 75%, #ffcb05 100%);
                        }
                        &.active::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991px){
    .testimonial-section {
        .testimonial-bg, .testimonial-shape1, .testimonial-shape2 {
            display: none;
        }
        h2 {
            font-size: 36px;
        }
        .testimonial-slider {
            .carousel-indicators {
                display: none !important;
            }
            .carousel-content {
                .testimonial-items {
                    padding: 60px 70px 50px;
                }
            }
            .testimonial-dot-indicator {
                ol{
                    &.carousel-indicators2 {
                        position: absolute;
                        left: 260px;
                        bottom: 0;
                        li {
                            background-color: #5409d6;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px){
    .testimonial-section {
        padding: 80px 0 75px;
        .testimonial-bg, .testimonial-shape1, .testimonial-shape2 {
            display: none;
        }
        h2 {
            font-size: 28px;
        }
        .testimonial-slider {
            margin-top: 20px;
            .carousel-indicators {
                display: none !important;
            }
            .carousel-content {
                .carousel-quote {
                    i {
                        font-size: 30px;
                        top: -20px;
                    }
                }
                .testimonial-items {
                    padding: 20px 30px 80px !important;
                    .testimonial-meta {
                        h3 {
                            font-size: 26px !important;
                        }
                    }
                }
                .testimonial-text {
                    p {
                        font-size: 18px !important;
                    }
                }
            }
            .testimonial-dot-indicator {
                ol{
                    &.carousel-indicators2 {
                        position: absolute;
                        left: calc(50% - 68px);
                        bottom: 0;
                        li {
                            background-color: #5409d6;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

